p {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 20px;
	text-align: center;
	margin-top: 20%;
}

form {
	display: flex;
	justify-content: center;
}
table {
	border-spacing: 2px;
	background-color: #989898;
	padding: 10px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
	border-radius: 8px;
}
input[type="text"] {
	height: 30px;
	width: 250px;
}
input[type="password"] {
	height: 30px;
	width: 250px;
}
#radio {
	font-size: 10px;
	font-family: Arial, Helvetica, sans-serif;
	color: #ffffff;
}
input[type="button"] {
	border-radius: 10px;
	height: 30px;
	width: 80px;
	display: flex;
	justify-content: end;
	font-family: Arial, Helvetica, sans-serif;
	margin-left: 65%;
	margin-top: 3%;
}
#text {
	padding-top: 15px;
	padding-bottom: 4px;
	font-size: 16px;
	color: #ffffff;
	font-family: Arial, Helvetica, sans-serif;
}
